body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f8f9fa; /* Warna latar belakang */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.paper {
    background-color: #fff; /* Warna kertas */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan kertas */
    position: relative; /* Tambahkan properti posisi relatif */
}

.receipt {
    max-width: 400px;
    margin: auto; /* Tengahkan struk */
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Gaya tambahan untuk efek bayangan */
.container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}
